/* share style section */
*{
    
    font-family: 'Mulish', 'sans-serif';
}

.common-text-content{
    max-width: 675px;
    font-size:1.15rem ;
    color:#000000;
    text-align: center;
    margin: 5px auto;
   

}
.logo{
    width: 100px;
    margin-top: 10px;
}
 
.btn-primary{
    width: 175px;
    height: 52px;
    border-radius: 8px;
    background-color:#FF5400 ;
    border: none;

}


/* Header section style Start */
header{
    background-color: #ffffff;
}
header nav{
    display: flex;
    justify-content: space-between;
    margin:10px 130px 94px 135px;
}

nav > ul{
    display: flex;
    gap: 2.55em;
    list-style: none;
    align-items: center;
}
nav ul a{
    text-decoration: none;
    color: #424247;
    font-size: 1.12rem;

}

/* banner section style start  */

.banner{
    max-width: 1170px;
    height: 500px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group.png');
    background-repeat:no-repeat;
    margin: 0px auto;
    border-radius: 1rem;
}
.banner .banner-container{
    text-align: center;
}
.banner .banner-container h1{
    color: #FFF;
    font-size: 4rem;
    font-weight: 700px;
    padding-top: 30px;
}

.banner .input{
padding: 16px;
gap: 24px;
border-radius: 8px;
background: rgb(255, 0, 0);




}
/* Header section style End */


/* Main section style */
.Popular-Tour-container{
    max-width: 1170px;
    margin: 100px auto;

}

.Popular-Tour-container{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
 .tour-content h1 {
    font-size:2.5rem ;
    color:#131318;
    margin-top: 0px;
    
}
.Popular-Tour-container .tour-content-text{
    max-width: 540px;
    font-size: 1rem;
    line-height: 26px;
    padding-bottom:32px ;
}
.Popular-Tour-container .tour-content-img img{
    width: 540px;
    height: 550px;
    border-radius: 16px;


}
.tour-content-text > .btn-primary{
    margin-top:20px;
}









/* footer style section start */
.footer-container{
    height: 510px;
    background: rgba(19, 19, 24, 0.05);
    margin-top: 90px;

}
.text-content .footer-logo{
    display: block;
    margin: 0px auto;
    padding-top: 100px;
   
}

.footer-container .social-logo{
 display: flex;
  padding: 50px;
  justify-content: center;
  gap: 20px;

}
.footer-container .social-logo img{
    width: 40px;
    
}

 hr{
    width: 990px;
    align: center;
  
}
.footer-container h4{
    color:#131318 ;
    font-size: 1rem;
    font-weight: 300;
   display: flex;
   justify-content: center;
   margin-top: 50px;
}
/* footer style section End */




/* Responsive Section */
    /*Mobile and small devices  */
    @media screen and (max-width:600px) {
    
        
        
        .Popular-Tour-container{
            flex-direction: column;
            padding: 20px;
        }
        .Popular-Tour-container .tour-content-text, 
        .common-text-content{
           font-size: .87rem;
            line-height: 24px;

        }
        .Popular-Tour-container .tour-content-img img{
            width: 330px;
            height: 340px;
            border-radius: 16px;
        
    }





    
   
    .footer-container .social-logo {
        padding: 20px;
        
    }
    hr{
        width: 320px;
    
      
    }
}





    /* table and medium devices */
 @media screen and (min-width:600px) and (max-width:976px) {

    .Popular-Tour-container{
        padding: 20px;
    }
    .Popular-Tour-container .tour-content-img img {
        width: 380px;
        height: 450px;
        margin-top: 50px;
    }

.tour-content h1 {
    margin: 0px;
}
.Popular-Tour-container .tour-content-text {
        line-height: 22px;
        padding-bottom: 32px;
    }
    





    hr{
        width: 590px;
     
    }


 }